/* Import fonts from google */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&family=Manrope:wght@700&display=swap');

/* global css variables */
html {
    --primary: #E84D28;
    --primary-light: #FF9272;
    --secondary-blue: #4158CA;
    --secondary-blue-light: #8695DD;
    --secondary-yellow: #FED74C;
    --secondary-yellow-light: #FFE68D;
    --secondary-teal: #2CADB1;
    --secondary-teal-light: #AADADC;

    --creme-white: #FCFBFA;
    --gray-100: #E6E6E6;
    --gray-200: #CECFCD;
    --gray300: #C8C8C8;
    --gray400: #AAAAAA;
    --gray500: #828282;
    --gray600: #3B3D3B;
    --dark: #3B3D3B;
}

:root {
    font-family: 'Jost', sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Jost', sans-serif;
    font-style: normal;
}

h1 {
    font-size: 2.5rem;
    line-height: 3.4375rem;
}

h2 {
    font-size: 2rem;
    line-height: 2.75rem;
}

h3 {
    font-size: 1.5625rem;
    line-height: 2.125rem;
}

p, .p-large {
    font-size: 1.375rem;
    line-height: 2rem;
}

.p-medium {
    font-size: 1.125rem;
    line-height: 1.625rem;
}

.p-small {
    font-size: 1rem;
    line-height: 1.4375rem;
}
